//ul.nav-list {
//  list-style: none;
//  font-size: 14px;
//  li {
//    display: inline-block;
//    border: 2px antiquewhite solid;
//    background-color: #7B56FF;
//    padding: 3px;
//    margin: 1px;
//    a {
//      color: #5BFFF8;
//    }
//  }
//}

md-sidenav-container {
  width: 100%;
  height: 100%;
}

.active {
  background-color: green;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
