@import '~@angular/material/prebuilt-themes/indigo-pink';

.active {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;

}

md-list {
  md-list-item {
    button {
      width: 100%;
      display: inline;
    }
  }
}

md-sidenav {
  overflow: hidden;
}

.main-outlet {
  min-width: 800px;
  min-height: 100px;
  padding: 10px;
}

md-sidenav-container {
  width: 100%;
  height: 100%;
}
